NODE_ENV=production
PORT=10000

DATABASE_URL=YOUR_RENDER_DATABASE_URL

BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

BOT_USERNAME=YOUR_BOT_USERNAME

FRONTEND_URL=https://rathana935.github.io/miss-word/

SESSION_DAYS=7
